/* Fonte para o site */
@font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri.ttf');
  }

 @media (min-width: 930px ) {

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;    
}

/* barra superior */
.container {    
    display: flex;
    width: 990px;
    display: flex;
    justify-content: space-around;    
}

.logo {
    display: flex;
    align-items: center; 
}

/* menu de navegação */
.menu {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;    
    font-size: 16px;
    font-family: 'Calibri';  
}

.menu a:visited{
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, nav li {    
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a{
    display: block;
    padding: 0;
    margin: 20px;
    text-decoration: none;
    font-family: 'Calibri';
}

nav a:hover{
    border-bottom: 2px solid #f08910;  
    font-weight: bold;
}
nav .active a{
    border-bottom: 2px solid #f08910;  
    font-weight: bold;
}

.icone_user {
    margin: 10px;
    display: flex;
    align-items: center;     
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login p {
    margin-bottom: 2px;
}

.login a {
    font-size: 14px;
    display: block;
    margin-left: 30px;
    color: #f08910;
}
.login a:visited {
    color: #f08910;
}

/* faixa laranja disposta abaixo do menu de interção */
.faixa {
    background-color: #f08910;
    width: 100%;
    height: 120px;
}

/* banner principal */
#banner {
    display: flex;
    justify-content: center;
    background-size: cover;
}

.row{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
}

.banner_central {
    margin-top: -65px;
    width: 990px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner_central p {
    position: absolute;
    margin-top: -380px;
    font-family: 'Calibri';  
    font-size: 17px;
}

/* banner de eventos, usuário e relatório */
.banner1 {
    background: linear-gradient(#FFFFFF, #F1F1F1);   
    width: 262px;
    height: 262px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-left: 45px;
    margin-top: -20px;
    cursor: pointer;
}

.banner2 {
    background: linear-gradient(#FFFFFF, #F1F1F1);  
    width: 262px;
    height: 262px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-top: -20px;    
    cursor: pointer;
}

.banner3 {
    background: linear-gradient(#FFFFFF, #F1F1F1);  
    width: 262px;
    height: 262px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-right: 45px;
    margin-top: -20px;
    cursor: pointer;
}

section #event, #user, #rel {
    display: flex;
    font-family: 'Calibri'; 
    position: absolute;
    margin-top: 190px;
    font-size: 18px;
}

.modal, .modal2, .modal3 {
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #e7e7e7;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
    border: 1px solid #f08910;
    border: 900px transparent;
}

/* modal para mostrar título do respectivo banner */
#modal_events, #modal_user, #modal_rel {
    text-align: center;
    margin-top: 80px;
    font-family: 'Calibri';
    color: #000000;
    font-size: 28px;
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

/* botões para fechar modal */
.fechar, .fechar2, .fechar3 {
    width: 20px;
    height: 20px;
    background-color: #868686;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    color: white;
}

/* rodapé do site */
footer {    
    background-color: #000000;
    display: flex;
    justify-content: center;
}

footer p {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-family: 'Calibri';
    font-size: 12px;
}

.word {
    color: #f08910;
    font-family: 'Calibri';
    font-size: 12px;
}}


/************** responsividade tela media 800 a 960 ***********************/
@media (min-width: 800px) and (max-width: 960px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;    
    }
    
    /* barra superior */
    .container {    
        display: flex;
        width: 85%;
        justify-content: space-around;  
        align-items: center;  
    }
    
    .logo {
        display: flex;
        align-items: center; 
    }
    
    /* menu de navegação */
    .menu {
        color: black;
        margin: auto;
        display: flex;
        align-items: center;    
        font-size: 16px;
        font-family: 'Calibri';  
    }
    
    .menu a:visited{
        color: black;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul, nav li {    
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    nav a{
        display: block;
        padding: 0;
        margin: 10px;
        text-decoration: none;
        font-family: 'Calibri';
    }
    
    nav a:hover{
        border-bottom: 2px solid #f08910;  
        font-weight: bold;
    }
    nav .active a{
        border-bottom: 2px solid #f08910;  
        font-weight: bold;
    }
    
    .icone_user {
        margin: 10px;
        display: flex;
        align-items: center;     
    }
    
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .login p {
        margin-bottom: 2px;
    }
    
    .login a {
        font-size: 14px;
        display: block;
        margin-left: 30px;
        color: #f08910;
    }
    .login a:visited {
        color: #f08910;
    }
    
    /* faixa laranja disposta abaixo do menu de interção */
    .faixa {
        background-color: #f08910;
        width: 100%;
        height: 120px;
    }
    
    /* banner principal */
    #banner {
        display: flex;
        justify-content: center;
        background-size: cover;
    }
    
    .row{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 700px;
        background-color: #F1F1F1;
        display: flex;
        justify-content: center;
    }
    
    .banner_central {
        margin-top: -130px;
        width: 85%;
        height: 700px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .banner_central p {
        position: absolute;
        margin-top: -380px;
        font-family: 'Calibri';  
        font-size: 17px;
    }
    
    /* banner de eventos, usuário e relatório */
    .banner1 {
        background: linear-gradient(#FFFFFF, #F1F1F1);   
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        margin-left: 45px;
        margin-top: -20px;
        cursor: pointer;
    }
    
    .banner2 {
        background: linear-gradient(#FFFFFF, #F1F1F1);  
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        margin-top: -20px;    
        cursor: pointer;
    }
    
    .banner3 {
        background: linear-gradient(#FFFFFF, #F1F1F1);  
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        margin-right: 45px;
        margin-top: -20px;
        cursor: pointer;
    }
    
    section #event, #user, #rel {
        display: flex;
        font-family: 'Calibri'; 
        position: absolute;
        margin-top: 140px;
        font-size: 14px;
    }
    
    .modal, .modal2, .modal3 {
        position: absolute;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        background-color: #e7e7e7;
        top: 70%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 800ms;
        border: 1px solid #f08910;
        border: 900px transparent;
    }
    
    /* modal para mostrar título do respectivo banner */
    #modal_events, #modal_user, #modal_rel {
        text-align: center;
        margin-top: 60px;
        font-family: 'Calibri';
        color: #000000;
        font-size: 22px;
    }
    
    @keyframes animate {
        from{opacity: 1;}
        from{opacity: 0;}
    }
    
    /* botões para fechar modal */
    .fechar, .fechar2, .fechar3 {
        width: 20px;
        height: 20px;
        background-color: #868686;
        border-radius: 5px;
        float: right;
        cursor: pointer;
        margin-right: 5px;
        margin-top: 5px;
        text-align: center;
        color: white;
    }
    
    /* rodapé do site */
    footer {    
        background-color: #000000;
        display: flex;
        justify-content: center;
    }
    
    footer p {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;    
        font-family: 'Calibri';
        font-size: 12px;
    }
    
    .word {
        color: #f08910;
        font-family: 'Calibri';
        font-size: 12px;
    }}
/************** responsividade tela media 320 a 800 ***********************/
@media (min-width: 120px) and (max-width: 800px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;    
    }
    
    /* barra superior */
    .container {    
        display: flex;
        width: 85%;
        justify-content: center;  
        align-items: center; 
        position: absolute;
    }
    
    .logo {
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: -80px;
        
    }
    
    /* menu de navegação */
    .menu {
        position: absolute;
        color: black;
        margin-top: 110px;
        display: flex;
        font-size: 14px;
        font-family: 'Calibri';  
    }
    
    .menu a:visited{
        color: black;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul, nav li {    
        list-style: none;
        margin: 10px;
        padding: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    nav a{
        display: flex;
        padding: 0;
        margin: 5px;
        text-decoration: none;
        font-family: 'Calibri';
    }
    
    nav a:hover{
        border-bottom: 2px solid #f08910;  
        font-weight: bold;
    }
    nav .active a{
        border-bottom: 2px solid #f08910;  
        font-weight: bold;
    }
    
    .icone_user {
        margin: 3px;
        position: absolute;
        max-width: 28px;   
        max-height: 30px;
        display: none;
    }
    
    .login {
        position: absolute;
        margin-right: -200px;
        margin-top: 5px;
    }
    
    .login p {
        font-size: 12px;
        margin-left: 10px;
    }
    
    .login a {
        position: absolute;
        font-size: 10px;
        margin-left: 34px;
        margin-top: -10px;
        color: #f08910;
    }
    .login a:visited {
        color: #f08910;
    }
    
    /* faixa laranja disposta abaixo do menu de interção */
    .faixa {
        background-color: #f08910;
        width: 100%;
        height: 70px;
    }
    
    /* banner principal */
    #banner {
        display: flex;
        justify-content: center;
        background-size: cover;
    }
    
    .row{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 700px;
        background-color: #F1F1F1;
        display: flex;
        justify-content: center;
    }
    
    .banner_central {
        margin-top: -90px;
        width: 85%;
        height: 700px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-around;   
        flex-direction: column;     
    }
    
    .banner_central p {
        position: absolute;
        margin-top: -540px;
        font-family: 'Calibri';  
        font-size: 14px;
        max-width: 150px;
        text-align: center;
    }
    
    /* banner de eventos, usuário e relatório */
    .banner1 {
        background: linear-gradient(#FFFFFF, #F1F1F1);   
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 100px;
    }
    
    .banner2 {
        background: linear-gradient(#FFFFFF, #F1F1F1);  
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;  
        cursor: pointer;
    }
    
    .banner3 {
        background: linear-gradient(#FFFFFF, #F1F1F1);  
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        cursor: pointer;
    }
    
    section #event, #user, #rel {
        display: flex;
        font-family: 'Calibri'; 
        position: absolute;
        margin-top: 140px;
        font-size: 14px;
    }
    
    .modal, .modal2, .modal3 {
        display: flex;
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 10px;
        background-color: #e7e7e7;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 800ms;
        border: 1px solid #f08910;
        border: 900px transparent;
    }
    
    /* modal para mostrar título do respectivo banner */
    #modal_events {
        position: absolute;
        margin-top: 40px;
        margin-left: 48px;
        font-family: 'Calibri';
        color: #000000;
        font-size: 18px;
    }
    #modal_user, #modal_rel {
        position: absolute;
        margin-top: 40px;
        margin-left: 65px;
        font-family: 'Calibri';
        color: #000000;
        font-size: 18px;
    }
    
    @keyframes animate {
        from{opacity: 1;}
        from{opacity: 0;}
    }
    
    /* botões para fechar modal */
    .fechar, .fechar2, .fechar3 {
        width: 20px;
        height: 20px;
        background-color: #868686;
        border-radius: 5px;
        float: right;
        cursor: pointer;
        margin-right: 5px;
        margin-top: 5px;
        text-align: center;
        color: white;
    }
    
    /* rodapé do site */
    footer {    
        background-color: #000000;
        width: 100%;
        height: 30px;
        display: flex;
        background-color: rgb(0, 0, 0);
        margin-top: 700px;
    }
    .foot {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;    
        font-family: 'Calibri';
        font-size: 10px;
    }
    
    .word {
        color: #f08910;
        font-family: 'Calibri';
        font-size: 10px;
    }}

.logo-construct {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
}

.logo-page {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.logo-content {
    position: absolute;
    margin-top: auto;
    top: 50%;
}